@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <img src="~/img/logo.webp" class="rounded" alt="Thomas" width="150">
        <h1 class="display-5">Bem-vindo, Thomas</h1>
        <hr />
        <p>Uma ferramenta completa para organizar o suporte da sua empresa, fazendo o controle de chamados externos e garantindo um atendimento mais eficiente para os seus usuários.</p>
    </div>
