<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter primary">
                <i class="fa fa-phone-alt"></i>
                <span class="count-numbers-aberto"></span>
                <span class="count-name">Aberto</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter success">
                <i class="fa fa-phone-alt"></i>
                <span class="count-numbers-fechado"></span>
                <span class="count-name">Fechado</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter info">
                <i class="fa fa-phone-alt"></i>
                <span class="count-numbers-pausado"></span>
                <span class="count-name">Pausado</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter danger">
                <i class="fa fa-phone-alt"></i>
                <span class="count-numbers-cancelado"></span>
                <span class="count-name">Cancelado</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <canvas id="lineChart" width="500" height="300"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    function LineChart() {
        $.ajax({
            url: '/Home/ReportChamados',
            type: 'GET',
            success: function (data) {
                Dashboard(data);
                Count(data);
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function Count(data) {
        $(".count-numbers-aberto").html(data.abertoCount);
        $(".count-numbers-fechado").html(data.fechadoCount);
        $(".count-numbers-pausado").html(data.pausadoCount);
        $(".count-numbers-cancelado").html(data.canceladoCount);
    }

    function Dashboard(data) {
        var ctx = document.getElementById("lineChart").getContext("2d");

        const color = {
            blue: {
                background: 'rgba(0, 123, 255, 0.7)',
            },
            green: {
                background: 'rgba(102, 187, 106, 0.7)',
            },
            cyan: {
                background: 'rgba(38, 198, 218, 0.7)',
            },
            red: {
                background: 'rgba(239, 83, 80, 0.7)',
            }
        }

        const barPerc = 0.5;

        const aberto = data.aberto;
        const fechado = data.fechado;
        const cancelado = data.cancelado;
        const pausado = data.pausado;
        const xData = data.mes;

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: xData,
                datasets: [{
                    label: "Aberto",
                    barPercentage: barPerc,
                    backgroundColor: color.blue.background,
                    borderColor: color.blue.border,
                    borderWidth: 1,
                    data: aberto,

                }, {
                    label: "Fechado",
                    barPercentage: barPerc,
                    backgroundColor: color.green.background,
                    borderColor: color.green.border,
                    borderWidth: 1,
                    data: fechado,
                }, {
                    label: "Pausado",
                    barPercentage: barPerc,
                    backgroundColor: color.cyan.background,
                    borderColor: color.cyan.border,
                    borderWidth: 1,
                    data: pausado,
                }, {
                    label: "Cancelado",
                    barPercentage: barPerc,
                    backgroundColor: color.red.background,
                    borderColor: color.red.border,
                    borderWidth: 1,
                    data: cancelado,
                }]
            },
            options: {
                responsive: true,
                events: [],
                scales: {
                    ticks: {
                        beginAtZero: true,
                        display: false
                    }
                },
                animation: {
                    duration: 1,
                    onComplete: function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                if (dataset.data[index] > 0) {
                                    var data = dataset.data[index];
                                    ctx.fillText(data, bar._model.x, bar._model.y);
                                }
                            });
                        });
                    }
                }
            }
        });
    }
</script>

<style>
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

        .card-counter:hover {
            box-shadow: 4px 4px 20px #DADADA;
            transition: .3s linear all;
        }

        .card-counter.primary {
            background-color: #007bff;
            color: #FFF;
        }

        .card-counter.danger {
            background-color: #ef5350;
            color: #FFF;
        }

        .card-counter.success {
            background-color: #66bb6a;
            color: #FFF;
        }

        .card-counter.info {
            background-color: #26c6da;
            color: #FFF;
        }

        .card-counter i {
            font-size: 5em;
            opacity: 0.2;
        }

        .card-counter .count-numbers-fechado {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-numbers-aberto {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-numbers-pausado {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-numbers-cancelado {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-name {
            position: absolute;
            right: 35px;
            top: 65px;
            font-style: italic;
            text-transform: capitalize;
            opacity: 0.5;
            display: block;
            font-size: 18px;
        }
</style>

