@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <button class="btn btn-outline-secondary" id="menu-toggle"><span class="navbar-toggler-icon" /></button>
}
